<p style="color: green"><%= notice %></p>

<h1>Welcome back Administrator!</h1>

<% if @admin %>
  Logged is as: <% @admin.username %>
<% end %>

<p>Please go ahead and sign in to load your options</p>

<div class = "login container">
    <div class = "sia-1">
      <%= form_with url: new_admin_path do |form| %>
        <%= form.label :username %>
        <%= form.text_field :username %>
      <% end %>
    </div>
</div>


<div id="admins">
  <% @admins.each do |admin| %>
    <%= render admin %>
    <p>
      <%= link_to "Show this admin", admin %>
    </p>
  <% end %>
</div>

<%= link_to "New admin", new_admin_path %>
