<p style="color: green"><%= notice %></p>

<h1>Welcome back Administrator!</h1>

<p>Please go ahead and sign in to load your options</p>

<div>
    <div>
      <%= form_with url: admins_path do |form| %>
        <div>
          <%= form.label :username %>
          <%= form.text_field :username, class:"form-control", placeholder: "Username" %>
        </div>
        <div>
          <%= form.label :Password %>
          <%= form.text_field :protectedPasswd, class:"form-control", placeholder: "Password" %>
        </div>
        <br>
        <div class>
          <%= form.submit "Log in" %>
        </div>
      <% end %>
    </div>
</div>