<p style="color: green"><%= notice %></p>

<h1>Admins</h1>

<div>
  <%= form_with url: admins_path do |form| %>
    <div>
      <%= form.label :username, style: "display: block" %>
      <%= form.text_field :username %>
    </div>

    <div>
      <%= form.label :protectedPasswd, style: "display: block" %>
      <%= form.password_field :protectedPasswd %>
    </div>

    <p></p>

    <div>
      <%= form.submit "Login" %>
    </div>
  <% end %>
</div>