<p style="color: green"><%= notice %></p>

<h1>Admins</h1>

<div>
  <%= form_with model: Admin.new, url: login_admins_path do |form| %>
    <% if @admin.try(:errors).try(:any?) %>
      <div class = "alert alert-danger">
        <% @admin.errors.full_messages.each do |full_messages| %>
          <div>
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div>
      <%= form.label :username, style: "display: block" %>
      <%= form.text_field :username %>
    </div>

    <div>
      <%= form.label :protectedPasswd, style: "display: block" %>
      <%= form.password_field :protectedPasswd %>
    </div>

    <p></p>

    <div>
      <%= form.submit "Login" %>
    </div>
  <% end %>
</div>