<div>
  <%= form_with(model: [:administrator, question_answer_rel]) do |form| %>
    <% if question_answer_rel.errors.any? %>
      <div class = "alert alert-danger">
        <ul>
          <% question_answer_rel.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <p></p>
    <div class = "col-mb-3">
      <%= form.label :questionID, "Question", style: "display: block", class: "form-label" %>
      <div class = "input-group">
        <%= form.collection_select :questionID, Question.all, :questionID, :question, {prompt: "Select a Question"}, {class: "form-select form-select-lg mb-3"} %>
      </div>
    </div>
  <p></p>
    <div class = "col-mb-3">
      <%= form.label :answerID, "Answer", style: "display: block", class: "form-label" %>
      <div class = "input-group">
        <%= form.collection_select :answerID, Answer.all, :answerID, :answer, {prompt: "Select an Answer"}, {class: "form-select form-select-lg mb-3"} %>
      </div>
    </div>

    <% button_label = question_answer_rel.persisted? ? "Update Relation" : "Create Relation" %>
    <% confirmation_message = question_answer_rel.persisted? ? "Are you sure you want to update this relation?" : "Are you sure you want to create this relation?" %>

    <div class="d-grid gap-2 col-6 mx-auto">
      <%= form.submit button_label, class: "btn btn-alogin btn-lg", onclick: "return confirm('#{confirmation_message}');" %>
    </div>
  <% end %>
</div>