<div id="<%= dom_id event %>">
  <p>
    <strong style="font-size: 1.2em; color: #4e6a5b;"><%= event.title %></strong>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.eventDescription %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.formatted_event_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

</div>
